<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>WalkMyDog</title>
 <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li><a class="nav-link" href="{% url 'landing page' %}">Home</a></li>
                <li><a class="nav-link" href="{% url 'login user' %}">Login</a></li>
                 <li><a class="nav-link" href="">Logout</a></li>
             </ul>
        </div>
</nav>
 <div class="container">
        {% block content %}
        {% endblock %}
 </div>
</body>
</html>
