{% extends 'base/index.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
    <h1>Hello, {{ request.user.first_name }}</h1>
    <h1>This is your profile</h1>
{% if  request.user.profile.profile_image %}
<img class="rounded-circle mb-3" src="{{ request.user.profile.profile_image.url }}" alt="default" width="140" height="140">
        {% else %}
    <img class="rounded-circle mb-3" src="{% static 'default_image/profile.jpg' %}" alt="default" width="140" height="140">
        {% endif %}
    <div class="w-50 m-auto">
    <form method="post" style="border: 1px solid grey; margin: 10% 0%; padding: 5% 5%" action="{% url 'update profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
    </form>
    </div>
    </div>
{% endblock %}
