{% extends 'base/Index.html' %}
{% load static %}
{% block content %}
    <header class="masthead" style="background-image: url('/static/assets/silouete.jpg')">
{% endblock %}
{% block header %}
    <section class="profile" style="border:orange; border-width:1px; border-style:solid;">
        <header class="header">
            <div class="details">
                {% if profile.profile_image %}
                    <img src=" {{ profile.profile_image.url }}" alt='none' class="avatar">
                {% else %}
                    <img src="{% static 'default_image/profile.jpg' %}" alt='none' class="avatar">
                {% endif %}
                <h1 class="heading">{{ profile.first_name }} {{ profile.last_name }}</h1>

                <div class="location">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                    </svg>
                    <p>{{ profile.city }}</p>
                </div>
                <div class="stats">
                    <div class="col-4">
                        <h4>age</h4>
                        <p>{{ profile.age }}</p>
                    </div>
                    <div class="col-4">
                        <h4>contact</h4>
                        <p>{{ profile.phone_number }}</p>
                    </div>
                    <div class="col-4">
                        <h4>category</h4>
                        <p>{{ profile.category }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div>
                    {% if profile.text != '' and profile.text is not None%}
                    <h4>About me:</h4>
                    <p>{{ profile.text }}</p>
                    {% else %}
                <h4>About me:</h4>
                    <p>This dog lover haven't wrote anything about himself/herself yet.</p>
                    {% endif %}
                </div>

                <div>
                    <i>{{ profile.first_name }} {{ profile.last_name }} have {{ profile.likes_count }} hearts, will you give her/him more: </i>
                    <a href="{% url 'like profile' profile.pk %}">
                        {% if is_liked %}
                            <i class="far fa-heart" aria-hidden="true" style="color: red"></i>
                        {% else %}
                            <i class="fas fa-heart" aria-hidden="true" style="color: red"></i>
                        {% endif %}
                    </a>
                </div>
            </div>

        </header>
    </section>

{% endblock %}
{% block main-content %}
{% endblock %}
</header>


