{% extends 'base/Index.html' %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block content %}
    <header class="masthead" style="background-image: url('/static/assets/Dog-friend.jpg')">
{% endblock %}
{% block header %}
    {% if page %}
        <h1 class='text-center'>All Dog Owners Profiles</h1>

        <div class="row">
        {% for dogowner in page.object_list %}
            <div class="col-lg-4">
                <div class="card-profile">
                    {% if dogowner.profile_image %}
                        <img src="{{ dogowner.profile_image.url }}" alt="No photo" style="float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;">
                    {% else %}
                        <img src="{% static 'default_image/profile.jpg' %}" alt="No photo" style="float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;">
                    {% endif %}
                    <h1>{{ dogowner.first_name }} {{ dogowner.last_name }}</h1>
                    <p class="title">{{ dogowner.category }}</p>
                    <p>location: {{ dogowner.city }}</p>
                    <p>
                        <a href="{% url 'list profile details' dogowner.user_id %}">
                            <button>Details</button>
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 class='text-center'>NO PROFILES</h1>
    {% endif %}

    <div class="pagination">
        {% if page.has_previous %}
            <a class="pagination-action" href="?page=1">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a class="pagination-action" href="?page={{ page.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
            </a>
        {% endif %}
        {% for num in page.paginator.page_range %}
            {% if page.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
            {% else %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <a class="pagination-action" href="?page={{ page.next_page_number }}">
                <i class="fas fa-angle-right"></i>
            </a>
            <a class="pagination-action" href="?page={{ page.paginator.num_pages }}">
                <i class="fas fa-angle-double-right"></i>
            </a>
        {% endif %}

    </div>

{% endblock %}
{% block main-content %}
{% endblock %}
</header>

