{% extends 'base/index.html' %}
{% load static %}

{% block content %}
     <h1 class='text-center'>ALL PROFILES</h1>
     <div class="row">
            {% for dogowner in DogOwner %}
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    {% if dogowner.profile_image %}
                        <img src="{{ dogowner.profile_image.url }}" class="card-img-top" alt="">
                    {% else %}
                         <img src="{% static 'default_image/profile.jpg' %}" alt="" width="140" height="140">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ dogowner.first_name }} {{ dogowner.last_name }}, Location: {{ dogowner.city }}, {{ dogowner.category }}</h5>
                        <a href="" class="btn btn-primary">See details</a>
                    </div>
                </div>
            </div>

            {% endfor %}
    </div>
{% endblock %}
